<!-- Header -->
<header class="bg-lightGray py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12 d-flex justify-content-center">
        <img src="assets/img/logo-topo.png" alt="Logo" />
      </div>
    </div>
  </div>
</header>

<!-- Formulário -->
<main role="main">
  <section>
    <div class="container">
      <div class="justify-content-start">
        <h1 class="text-dark">
          Formulário
        </h1>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-8 mb-5">
          <div class="bg-light col-sm-12 p-4 mb-5">
            <h5>DADOS PESSOAIS</h5>
          </div>
          <form
            method="post"
            (ngSubmit)="enviar(formulario)"
            [formGroup]="formulario"
          >
            <div class="form-row">
              <div class="form-group col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  name="inputNome"
                  id="inputNome"
                  placeholder="Primeiro Nome"
                  formControlName="nome"
                />
              </div>
              <div class="form-group col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  name="inputUltimoNome"
                  id="inputUltimoNome"
                  placeholder="Último Nome"
                  formControlName="ultimoNome"
                />
              </div>
              <div class="form-group col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  name="inputCPF"
                  id="inputCPF"
                  placeholder="CPF"
                  formControlName="cpf"
                />
              </div>
              <div class="form-group col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  name="inputDataDeNascimento"
                  id="inputDataDeNascimento"
                  placeholder="Data de Nascimento"
                  formControlName="dataDeNacimento"
                />
              </div>
              <div class="form-group col-sm-12">
                <input
                  type="email"
                  class="form-control"
                  name="inputEmail"
                  id="inputEmail"
                  placeholder="Email"
                  formControlName="email"
                />
              </div>
              <div *ngIf="mostrarAcompanhate">
                <div class="bg-light col-sm-12 p-4 mb-5">
                  <h5>ACOMPANHATE 1</h5>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-6">
                    <input
                      type="text"
                      class="form-control"
                      name="inputNomeAcompanhante"
                      id="inputNomeAcompanhante"
                      placeholder="Primeiro Nome"
                      formControlName="nomeAcompanhante"
                    />
                  </div>
                  <div class="form-group col-sm-6">
                    <input
                      type="text"
                      class="form-control"
                      name="inputUltimoNomeAcompanhante"
                      id="inputUltimoNomeAcompanhante"
                      placeholder="Último Nome"
                      formControlName="ultimoNomeAcompanhante"
                    />
                  </div>
                  <div class="form-group col-sm-6">
                    <input
                      type="text"
                      class="form-control"
                      name="inputCPFAcompanhante"
                      id="inputCPFAcompanhante"
                      placeholder="CPF"
                      formControlName="cpfAcompanhante"
                    />
                  </div>
                  <div class="form-group col-sm-6">
                    <input
                      type="text"
                      class="form-control"
                      name="inputDataDeNascimentoAcompanhante"
                      id="inputDataDeNascimentoAcompanhante"
                      placeholder="Data de Nascimento"
                      formControlName="dataDeNacimentoAcompanhante"
                    />
                  </div>
                  <div class="form-group col-sm-12">
                    <input
                      type="email"
                      class="form-control"
                      name="inputEmailAcompanhante"
                      id="inputEmailAcompanhante"
                      placeholder="Email"
                      formControlName="emailAcompanhante"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 checkbox">
                <label
                  ><input
                    type="checkbox"
                    [checked]="mostrarAcompanhate"
                    (change)="mostrarAcompanhate = !mostrarAcompanhate"
                    value="1"
                  />
                  Adicionar acompanhante</label
                >
              </div>
              <div class="form-group col-sm-12 checkbox">
                <label for="Filmes">Filmes em Cartaz</label>
                <select
                  name="listaFilmes"
                  id="listaFilmes"
                  [(ngModel)]="Filme"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control"
                >
                  <option *ngFor="let lista of filmes" [value]="lista.id">{{
                    lista.nome
                  }}</option>
                </select>
              </div>
              <div class="form-group col-sm-12 checkbox">
                <h4>DADOS DA ENTREGA</h4>
              </div>
              <div class="form-group col-sm-12">
                <input
                  type="text"
                  class="form-control"
                  name="inputCEP"
                  id="inputCEP"
                  placeholder="CEP"
                  formControlName="cep"
                  (blur)="consultaCep($event.target.value, formulario)"
                />
              </div>
              <div class="form-group col-sm-12">
                <input
                  type="text"
                  class="form-control"
                  name="inputEndereco"
                  id="inputEndereco"
                  placeholder="Endereço"
                  formControlName="endereco"
                />
              </div>
              <div class="form-group col-sm-6 form-select">
                <!-- <select
                  class="form-control"
                  id="SelectPais"
                  formControlName="pais"
                >
                  <option>País</option>
                </select> -->
                <input
                  type="text"
                  class="form-control"
                  name="inputBairro"
                  id="inputBairro"
                  placeholder="Bairro"
                  formControlName="bairro"
                />
              </div>
              <div class="form-group col-sm-6 form-select">
                <!-- <select
                  class="form-control"
                  id="SelectEstado"
                  formControlName="estado"
                >
                  <option>Estado</option>
                </select> -->
                <input
                  type="text"
                  class="form-control"
                  name="inputEstado"
                  id="inputEstado"
                  placeholder="Estado"
                  formControlName="estado"
                />
              </div>
              <div class="form-group col-sm-12">
                <input
                  type="text"
                  class="form-control"
                  name="inputCidade"
                  id="inputCidade"
                  placeholder="Cidade"
                  formControlName="cidade"
                />
              </div>
              <div class="form-group col-sm-12">
                <input
                  type="text"
                  class="form-control"
                  name="inputTelefone"
                  id="inputTelefone"
                  placeholder="Telefone"
                  formControlName="telefone"
                />
              </div>
            </div>
            <div class="p-0 form-group col-sm-12 d-flex justify-content-end">
              <button
                type="submit"
                class="btn-enviar"
                [disabled]="formulario.invalid"
              >
                Enviar
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-4 mb-5">
          <div class="bg-light col-sm-12 p-4 mb-5">
            <h5>SEU INGRESSOS</h5>
          </div>
          <div class="col-sm-12 mb-5 d-flex">
            <div class="col-sm-5">
              <img src="http://placehold.it/100x100" alt="Filme" />
            </div>
            <div class="col-sm-8">
              <p>Ingresso</p>
              <p>Filme: O mochileiro das Galáxias</p>
              <p>Ingresso</p>
              <p class="valor-ingresso">R$20,00</p>
            </div>
          </div>
          <div class="col-sm-12 mb-5 d-flex ">
            <div class="col-sm-6 hr-top">
              <p class="font-weight-bold">Sub total</p>
              <p class="font-weight-bold">Frete</p>
              <p class="font-weight-bold-total">Total</p>
            </div>
            <div class="col-sm-6 hr-top text-right">
              <p>R$20,00</p>
              <p>R$10,00</p>
              <p class="total-ingresso">R$30,00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- Footer -->
<section>
  <div class="py-5 container hr-top">
    <div class="row justify-content-md-center">
      <div class="col-lg-3 col-md-6 mb-4">
        <img class="card-img-top" src="assets/img/logo-footer.png" alt="Logo" />
        <p class="text-addresses">Street addresses: 455Mount</p>
        <p class="text-addresses">Eden Road, Mount Eden</p>
        <p class="text-addresses">Aucklan - Postcodes: 5022</p>
        <h4 class="py-3 title-footer-redes">Nossas Redes</h4>
        <div class="social-icons">
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <h4 class="title-footer">Sobre Nós</h4>
        <a href="#" class="text-link">Perfil</a>
        <a href="#" class="text-link">Sobre</a>
        <a href="#" class="text-link">Contato</a>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <h4 class="title-footer">Rede Sociais</h4>
        <a href="#" class="text-link">Twitter</a>
        <a href="#" class="text-link">Instagram</a>
        <a href="#" class="text-link">Linkedin</a>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <h4 class="title-footer">Contato</h4>
        <a href="#" class="text-link">Fac</a>
        <a href="#" class="text-link">Sitemap</a>
        <a href="#" class="text-link">Dúvidas</a>
      </div>
    </div>
  </div>
</section>

<footer class="p-3 lg-mx-5 lg-p-5">
  <div
    class="container hr-top flex-sm-column flex-lg-row d-lg-flex justify-content-lg-between"
  >
    <div class="row">
      <p class="text-footer">
        Contact US
      </p>
    </div>
    <div class="row">
      <p class="text-footer">
        Copyright ©2019, Template
      </p>
    </div>
  </div>
  <!-- /.container -->
</footer>
