/* Color Grid */
$bg-lightGray: #fcfcfc;
$blue: #0654ae;
$darkBlue: #202e5d;
$lightGray: #b2b2b2;
$gray: #707070;
$darkGray: #414141;
$white: #fff;

/* Header */

.bg-lightGray{
  background-color: $bg-lightGray;
}

/* Form */

.form-control{
  border-radius: 0rem;
  padding: 1.5rem .75rem;
}
.valor-ingresso{
  color: $blue;
  font-size: 16px;
  font-weight: bold;
}
.font-weight-bold-total{
  font-weight: bold;
  font-size: 18px;
}
.total-ingresso{
  color: $blue;
  font-weight: bold;
  font-size: 18px;
}
.form-select {
   width:250px;
     overflow:hidden;
    }
.form-select select {
    background-position: 205px center;
    width: 350px;
    height:50px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    padding:13px 20px 13px 12px;
    text-indent: 0.01px;
    text-overflow: "";
    select::-ms-expand {
      display: none;
    }
  }

.btn-enviar{
  transition: background-color 0.2s ease;
  background-color: #0654ae;
  padding: 17px 70px;
  font-size: 16px;
  cursor: pointer;
  max-width: 300px;
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  border: none;
  &:hover {
    background-color: $darkBlue;
  }
}

/* form validation */

.ng-invalid.ng-touched:not(form){
  border: 1px solid red;
}


/* Style Animation Social */

@keyframes social {
  0% {
    background-color: $white;
  }
  100% {
    background-color: $blue;
  }
}
.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: $blue;
  color: $white;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
  animation-name: social;
  animation-duration: 4s;
  &:hover {
    background-color: $darkBlue;
  }
}
/*  Style Footer  */

.title-footer-redes {
  font-size: 24px;
  color: $lightGray;
  text-transform: uppercase;
}

.title-footer {
  font-size: 32px;
  color: $blue;
  text-transform: uppercase;
}
.text-link {
  color: $darkGray;
  font-size: 24px;
  display: block;
  text-transform: initial;
}
.hr-top {
  border-top: solid 1px $gray;
}
.text-footer {
  color: $gray;
  font-size: 24px;
  padding-top: 30px;
}
.text-addresses {
  color: $darkGray;
  font-size: 16px;
}

